@media only screen and (max-width: 992px) {
.navigasi li{
    margin: 0.5em!important;
    padding: 5px!important;
    font-size: 0.80em;
}
.main{
    display: block!important;
}
.card{
    display: block!important;
}
#content{
    height: 1400px!important;
}

.card-text{
    background-color: white;
    margin: 2%;
    border-radius: 5px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.6);
}
.card-text p{
    text-indent: 0em!important;
    margin: 2%;
    
}
  }

body{
    font-family:  roboto, Oxygen, sans-serif;
    
}
img:hover{
    cursor: pointer;
}
.navigasi li{
    display: inline;
    border-radius: 5px;
    border: 1px solid #f7f4ea;
    padding: 10px 30px;
    margin: 1%;    
    
}
.navigasi li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.navigasi{
    height: 100px;
    background-color: #242623;
    width: 100%;
    padding-top: 20px;
    color: #f7f4ea;
    font-family: Roboto, Oxygen, sans-serif;
    margin: auto;
}

.main{
    display: flex;
    flex-direction: row;
 
}
div#content{
    background-color: #afce40;
    height: 1100px;
    /* flex-grow: 6; */
    flex-basis: 75%;
   
}
aside{
    /* flex-grow: 1; */
    flex-basis: 25%;
    background-color: white;
}
footer{
    background-color: #242623;
    height: 100px;
    color: #f7f4ea;
}
footer p{
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}
.copyright{
    padding-top: 4%;
}

.card{
    display: flex;
    flex-direction: row;
    padding: 3%;
}

.cardStyle{
    background-color: white;
    flex-grow: 1;
    margin: 2%;
    border-radius: 3px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.6);
    padding: 2% 2% 5% 2%;
    
}
.cardStyle img{
    width: 100%;
    height: 60%;
}
h1{
    font-size: 20px;
}
p{
    line-height: 2em;
    text-align: justify;
    font-size: 14px;
}
.card-project{
    flex-basis: 70%;
    background-color: white;
    margin: 2%;
    border-radius: 3px 0px 0px 3px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.6);
}
.card-project img{
    width: 100%;
    height: 95%;
}
.card-text{
    flex-basis: 30%;
    padding: 1% 2% 1% 1%;
    text-align: justify;
}
.card-text p{
    text-indent: 4em;
}
caption{
    text-align: center;
    font-size: 0.25em;
}
.aside{
    padding: 10% 5% 5% 5%;
    font-size: 0.80em;
    
}
.aside img{
    
    height: 30%;
    margin: 0 auto;
    width: 30%;
    display: block;
    border-radius: 100%;
}
.aside img:hover{
    opacity: 0.7;
}

.aside h1{text-align: center;}
.aside ul,
.aside li{
    list-style-type: none;
}
/* color: f7f4ea-ded9e2-afce40-ffffff-242623 */
a{
    text-decoration: none;
    color: #242623;

}
table{
    display: block;
    margin: auto;
    width: 70%;
}
.aside table td{
    text-align: justify;
    padding: 5px 0px  5px 0px;
}
.aside td:nth-child(1){
    width: 40%;
    text-align: justify;
    font-weight: bolder;
}
.bio{
    vertical-align: top;
}